#game-page{
    padding: 30px;
}
#game-info{
    margin-right: 100px;
}
#game{
    border: 4px solid black;
    width: 80vh;
    height: 80vh;
}
#ready-button{
    border: 1px solid black;
    height: 15vh;
    width: 30vh;
    font-size: 5vh;
}
#modal{
    position: absolute;
    z-index: -1;
    visibility: hidden;
}
#modal-text{
    font-size: 3vh;
    margin-bottom: 10vh;
}
#modal-message{
    border: 1px solid black;
    height: 45vh;
    width: 90vh;
    font-size: 5vh;
    background-color: white;
}
#leave-button{
    border: 1px solid black;
    height: 10vh;
    width: 45vh;
    font-size: 5vh;
    margin-bottom: 5vh;
}
.player-div{
    border: 1px solid black;
    height: 15vh;
    justify-content: space-around;
    padding: 10px;
    margin-bottom: 10px;
}
.status-bar{
    border: 2px solid black;
    border-radius: 10px;
    width: 60vh;
    height: 5vh;
    overflow: hidden;
}
.progress{
    background-color: green;
    height: 100%;
    width: 0%;
}
.ready{
    background-color: green;
}
.not-ready{
    background-color: red;
}
.online-status{
    margin-right: 0.5vh;
    border-width: 13px;
    border-radius: 90px;
    height: 1vh;
    align-self: center;
    width: 1vh;
}
#hidden-text{
    visibility: hidden;
}
#done-text{
    background-color: greenyellow;
}
#current-text{
    border: 1px solid black;
}